@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson&family=Montserrat&display=swap');

:root {
    /* Colors */
    --primary-color: #4F74B1;
    --secondary-color: #EBEBEB;
    --tertiary-color: #FFFFFF;
    --delete-color: #D92727;
    --main-background-color: rgba(56, 158, 143, 0.4);
    --border-color: rgba(56, 158, 143, 0.2);


    /* Font sizes */
    --font-size--little: 0.7rem;
    --font-size--small: 0.9rem;
    --font-size--normal: 1rem;
    --font-size--medium: 1.2rem;
    --font-size--large: 1.5rem;
    --font-size--huge: 2rem;

    /* Spacers for margin, padding and gap*/
    --spacer-1: 0.25rem;
    --spacer-2: 0.5rem;
    --spacer-3: 0.75rem;
    --spacer-4: 1rem;
    --spacer-5: 1.5rem;
    --spacer-6: 2rem;
    --spacer-7: 3rem;
    --spacer-8: 5rem;
    --spacer-10: 10rem;

    /* Border */
    --border-1: 5px;
    --border-2: 10px;
    --border-3: 20px;
    --border-4: 30px;
    --border-icon: 1px solid #494954;
    --border-button: 2px solid var(--primary-color);
    --border-button-delete: 2px solid #D92727;

    /* Height */
    --height-logo: 0px /* à remplir */;
    --icon-height-small: 1.5rem;
    --icon-height-medium: 2rem;
    --height-thead: 5rem;
    --height-input: 3rem;
    --height-textarea: 20rem;
    --height-button: 3rem;
    --height-card: 8rem;

    /* Width */
    --width-card: 15rem;

    /* Shadow */
    --shadow-regular: 0px 3px 5px 0px rgba(0,0,0,0.25);
    --shadow-text: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*Smartphones standards (jusqu'à 480px de largeur)*/
@media only screen and (max-width: 480px) {
    .popup {
        width: 80%;
    }

    th,td{
        padding: 8px;
        font-size: 3px;
        white-space: nowrap;
    }

    a.lien{
        display:none;
    }
}

/*Tablettes standards*/
@media only screen and (max-width: 750px) {
    .container {
        width: 80%;
    }

    th,td{
        padding: 8px;
        font-size: 7px;
        white-space: nowrap;
    }

    a.lien{
        display:none;
    }
}

@media only screen and (max-width:1200px){
    .container {
      width: 60%; 
    }

    .form-abs{
        width:45%;
    }

    a.lien{
        display:none;
    }
}

/*CSS view_login*/
.login-container{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container h1{
    text-shadow: none;
}

.container {
    width: 80%;
    height: 70%;
    max-width: 700px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 5%;
    padding: var(--spacer-3);
    gap: 10px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
  
.container > h1 {
    color: black;
    margin-bottom: 1%;
    margin-top: 5%;
}

.container > h3{
    margin-bottom: 3rem;
}

.button {
    display: block;
    margin: 0 auto; /* Pour centrer le bouton horizontalement */
}

.cf:after, .cf:before {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.input-login {
    width: 100%;
}

label {
    position: absolute;
    left: 20px;
    color: #a0a0a0;
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    transition: .2s;
    font-family: Regular, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.oublie {
    text-decoration: none;
    font-size: 10px;
}

.login-form {
    height: 60%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form button {
    margin-top: 15px; /* Ajouter une marge en haut au bouton */
    margin-bottom: 5px; /* Ajuster la marge en bas du bouton */
}

input:focus {
    border: 2px solid #1f1fff;
    box-shadow: #6767ff 0px 1px 1px, #6767ff 0px 0px 0px 1px;
}

input:focus + label {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}

.up {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: #24242c;
}

h3 {
    color: rgb(171, 171, 171);
    font-weight: lighter;
    font-size: var(--font-size--normal);
}

.popup-roles {
    list-style: none;
    width: 110%;
    height: 80%;
    position: absolute;
    background: #ffffff;
    border-radius: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.form-select {
    width: 300px;
    height: var(--height-button);
    background:center/contain no-repeat url('https://cdn.discordapp.com/attachments/1181909433131999285/1196176191783186643/fond-select.PNG?ex=65b6ace4&is=65a437e4&hm=f443fdc8cdb20928fefaa78031a143fdece0cff7acc0ab722343e1378a483f5c&') #D9D9D9;
    border: 0px;
    border-radius: 10px;
    appearance: none;
    padding-left: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #2c2c2c;
    box-shadow: var(--shadow-regular);
}

.img-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-popup>img {
    height: 15rem;
    width: 15rem;
}
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35rem;
    min-height: 80vh;
}
.container-popup {
    border-radius: 10px;
    width: 50rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    position: relative;
}

.form-popup {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    color: black;
    text-shadow: none;
    font-family: 'Montserrat', serif;
    margin-top: 5%;
}

.background-blur {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    position: absolute;
}

.container-select-button{
    display: flex;
    gap: var(--spacer-2);
}

.alert {
    color: red;
    font-size: 15px;
}

/*CSS Interlocuteur*/
.form-email{
    width: 70%;
}

.demande {
    display: flex;
    flex-direction: column;
}

th, td {

    padding: 8px;
    text-align: center;
}

.statut {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font: bolder;
    padding: 3px;
    font-size: 15px;

}

.vert { background-color: #4CAF50; }
.orange { background-color: #FFA500; }

#bouton-envoyer {
    display: block;
    margin: 0 auto; /* Pour centrer le bouton horizontalement */
    padding: 10px 40px; /* Ajustez la taille du bouton ici */
}

#table-container {
    max-height: 10px;  /*Hauteur fixe du conteneur */
    overflow-y: auto;  /*Activation de la barre de défilement vertical */
}

/*CSS header*/
header {
    background: #4F74B1;
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    margin-bottom: 10vh;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    gap: var(--spacer-4);
    align-items: center;
    flex-wrap: wrap;
}

.menu-list {
    display: flex;
    gap: var(--spacer-8);
}

nav ul {
    list-style: none;
    display: flex;
    gap: var(--spacer-5);
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    font-weight: bold;
}

.header-navbar {
    font-size: var(--font-size--small);
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    border-bottom: 1px solid white;
    padding-bottom: var(--spacer-1);
}

.logo {
    font-size: var(--font-size--huge);
    font-weight: lighter;
    font-family: 'Judson', regular;
    text-shadow: var(--shadow-text);
}

.right-elt {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    box-shadow: none; 
    text-shadow: none;
}

.right-container {
    display: flex;
    align-items: center;
    gap: var(--spacer-4);
}

/* Styles for small screens */
@media only screen and (max-width: 1000px) {
    .menu-list {
        display: none;
        flex-direction: column;
        gap: var(--spacer-4);
        width: 100%;
        position: absolute;
        top: 10vh; 
        left: 0;
        background: #4F74B1;
        padding: var(--spacer-4);
        align-items: center; 
    }

    .menu-list.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .header-navbar {
        flex-direction: column;
    }

    .right-container {
        width: 100%;
        justify-content: space-between;
    }

    .menu-list li {
        width: 100%; 
        text-align: center; 
    }
}

/*CSS footer*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 10vh;
    font-size: var(--font-size-small);
    margin-top: 10vh;
}
.nom-entreprise {
    flex: 0.25; /* Chaque partie prendra une part égale de l'espace disponible */
    text-align: center;
}

.nom-entreprise h1 {
    margin:0;
}

.info-entreprise {
    flex: 0.25; /* Chaque partie prendra une part égale de l'espace disponible */
    text-align: center;
}

.info-entreprise a {
    font-size: 15px;
    color: #fff;
}

/*CSS déclaration absence
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

.form-abs {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    margin: 0;padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: var(--spacer-6);
}

#reason {
    grid-column: 1/3;
    height: var(--height-textarea);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: var(--spacer-6);
    margin: 5%;
}

/*CSS composante*/
.composante-container{
    min-height: 60vh;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-8);
}

.infos-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--spacer-5);
}

.infos__colonne{
    display: flex;
    flex-direction: column;
    gap: var(--spacer-3);
}

.infos-container h2{
    color: white;
    text-shadow: var(--shadow-text);
}

.infos-container{
    text-align: center;
}

.infos-composante{
    display: flex;
    flex-direction: column;
    gap: var(--spacer-3);
}

.infos-composante{
    color: white;
    text-shadow: var(--shadow-text);
}

.infos-container .ajout{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: var(--spacer-1);
}

.infos-container .fa{
    font-size: var(--height-icon-small);
}

/* CSS BDL*/
#bonDeLivraisonForm {
    width: 80%;
    margin: auto;
}

.bdl-container{
    width: 80%;
    min-height: 60vh;
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bdl-head {
    border-radius: 10px;
}
.input-bdl-form::placeholder{
    color: white;
}

.bdl-container > form{
    align-items: center;
}
#label-mois {
    position: initial;
    color: white;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

#button-get-data{
    margin-top: var(--spacer-3);
}

.input-bdl {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

.input-bdl::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}


.bdl-table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

.bdl-table th, .bdl-table td {
    padding: 8px;
    text-align: left;
}

.bdl-table th {
    background-color: #4F74B1;
    color: white;
    text-align: center;
}

.bdl__table{
    background-color: #4F74B1;
    box-shadow: var(--shadow-regular);
    border-radius: var(--border-3);
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #4F74B1;
}

.bdl-table > thead{
    border: none;
}

.button-valide-container{
    display: flex;
    gap: var(--spacer-3);
}

.button-valide {
    margin-top: var(--spacer-3);
    width: 10rem;
}

#joursTableBody input {
    background-color: rgb(0,0,0,0);
    box-shadow: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

#joursTableBody td{
    background-color: #7d9bcd;
    border-color: rgba(79, 116, 177, 0.50);
    text-align: center;
    border: 1px solid #4F74B1;
}

#joursTableBody::before {
    content: none;
}

/*Util*/
* {
    outline: none;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    color: #555;
    font-family: 'Montserrat', Regular, Arial, Helvetica, sans-serif;
    background: center/cover url('https://images.pexels.com/photos/5827389/pexels-photo-5827389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat #0000;
    font-size: var(--font-size--small);
    font-weight: lighter;
}

img {
    width: var(--icon-height-small);
}

.main-container{
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: var(--spacer-10);
}

.dashboard__table{
    box-shadow: var(--shadow-regular);
    width: 100%;
    border-radius: var(--border-3);
    background-color: #FFF;
    box-sizing: border-box;
    padding: var(--spacer-3);
    overflow: scroll;
    max-height: 50vh;
}

.dashboard-container {
    width: 80%;
}

th {
    font-weight: bold;
}

h1 {
    font-weight: bold;
    color: white;
    font-size: var(--font-size--huge);
    font-family: 'Montserrat',sans-serif;
    text-shadow: var(--shadow-text);
    margin-bottom: var(--spacer-7);
    text-align: center;
}

h4 {
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

table {
    margin: auto;
    width: 95%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

tbody:before {
    content:"@";
    display:block;
    line-height:var(--spacer-5);
    text-indent:-99999px;
}

thead{
    border-bottom: var(--border-icon);
    height: var(--height-thead);
}

textarea{
    width: 100%;
    height: var(--height-textarea);
    border-radius: var(--border-2);
    padding: var(--spacer-4);
    box-sizing: border-box;
    background-color: #FFF;
    font-size: var(--font-size--normal);
    border: none;
    box-shadow: var(--shadow-regular);
}

form{
    display: flex;
    flex-direction: column;
    gap: var(--spacer-5);
}

input{
    width: 100%;
    border: none;
    border-radius: var(--border-2);
    outline: none;
    transition: .4s;
    height: var(--height-input);
    text-indent: var(--spacer-4);
    background-color: #FFF;
    box-shadow: var(--shadow-regular);
    font-size: var(--font-size--little);
    color: #757575 ;
}

select{
   width: 100%;
    border: none;
    border-radius: var(--border-2);
    outline: none;
    transition: .4s;
    height: var(--height-input);
    text-indent: var(--spacer-4);
    background-color: #FFF;
    box-shadow: var(--shadow-regular);
    font-size: var(--font-size--little);
    color: #757575 ;
}

label {
    position: absolute;
    left: 20px;
    color: #a0a0a0;
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    transition: .2s;
    font-family: Regular, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

button{
    transition: background-color 0.3s ease;
    padding: var(--spacer-2) var(--spacer-5); /* Ajustez la taille du bouton ici */
    background-color: #4F74B1;
    height: var(--height-button);
    color: #fff;
    border-radius: 10px; /* Augmentation du rayon pour un look plus arrondi */
    text-align: center;
    font-size: 16px; /* Ajustez la taille de la police ici */
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: var(--shadow-regular);
}

/* Style du bouton au survol */
button:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
}

.fa {
    font-size: var(--icon-height-small);
}

.fa-eye, .fa-download{
    color: black;
}

.fa-user-circle{
    color: white;
}

/* Style du bouton au survol */
.button-secondary{
    background-color: #FFF;
    border: var(--border-button);
    color: var(--primary-color);
}

.button-primary{
    background-color: var(--primary-color);
}

.button-delete{
    background-color: var(--delete-color);
    border: var(--border-button-delete);
}

.button-primary:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: var(--border-button);
}

.button-secondary:hover{
    background: var(--secondary-color);
    color: white;
}

.button-delete:hover{
    background: var(--secondary-color);
    color: var(--delete-color);
}

input::placeholder{
    font-size: var(--font-size--little);
}

/* form ajout*/
.add-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}
.form-abs {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-6);
}
.add-container > h1 {
    text-align: center;
    color: white;
    font-family: 'Montserrat',sans-serif;
}
.add-container > h2 {
    color: white;
    font-family: 'Montserrat',sans-serif;
    grid-column: 1/3;
    margin-bottom: 2%;
}
.add-container > form {
    width: 100%;
    margin: 0;padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: var(--spacer-6);
}

#mail-1 {
    grid-column: 1/3;
}

#create {
    display: flex;
    align-items: center;
    justify-content: center;
}

form h2{
    color: white;
}

.form-names, .form-address, .form-infos-composante{
    display: flex;
    gap: var(--spacer-3);
}

.form-num-voie, .form-type-voie{
    flex: 2;
}

.form-nom-voie{
    flex: 6;
}

.form-cp{
    flex: 2;
}

.form-ville{
    flex: 8;
}

/* css prestataire*/
.liste-prestataire-contrainer{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    width: 80%;
    gap: var(--spacer-3);
    margin: auto;
}
.clients {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.prestataire {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.element-recherche{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    gap: var(--spacer-2);
}

.element-block {
    gap: var(--spacer-5);
    display: flex;
    flex-wrap: wrap; /* Permettre le passage à la ligne lorsque l'espace est insuffisant */
    justify-content: space-around;
    width: 100%;
}

.block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: var(--width-card);
    height: var(--height-card);
    cursor: pointer;
    outline: none;
    border-radius: var(--border-2);
    background-color: white;
    box-shadow: var(--shadow-regular);
    text-align: center; /* Centrer le texte à l'intérieur du bloc */
}

.block h3 {
    color: #777777;
    font-weight: 200;
}

.block h2 {
    font-weight: 200;
}

.element-recherche button{
    width: var(--width-card) !important;
}

/* missions */

.add-mission-container{
    display: flex;
    justify-content: end;
    margin-top: var(--spacer-6);
}
